@import url('font-inter.css');

:root {
  --primarycolor: #00b712;
  --primarycolorhover: #00d32e;
  --btnice: #D8EBFA;
  --btnnicetext: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  font-family: 'Inter', sans-serif;
  background-image: url(../img/back.jpg);
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 7%;
  background-color:transparent
}

.container {
  position: absolute;
  width: 45%;
  background: rgba( 255, 255, 255, 0.45 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border: 1px solid rgb(235, 235, 235);
  border-radius: 8px;
  margin-top: 120px;
  margin-left: 700px;
  padding: 0;
  box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
  animation: transitionIn-Y-over 0.5s;
}

/* New CSS for dynamic layout */
@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
}

td {
  text-align: center;
}

.header-text {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.sub-text {
  font-size: 15px;
  color: rgb(0, 0, 0);
}

.form-label {
  color: rgb(44, 44, 44);
  text-align: left;
  font-size: 14px;
}

.label-td {
  text-align: left;
  padding-top: 10px;
}

.hover-link1 {
  font-weight: bold;
}

.hover-link1:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.login-btn {
  /*margin-top: 15px;*/
  margin-bottom: 15px;
  width: 100%;
}

.input-text {
  border-radius: 4px;
  border: 0.5px solid rgb(226, 226, 226);
  padding: 10px;
  width: 92%;
  transition: 0.2s;
  outline: none;
}

.input-text {
  border: 1px solid #e9ecef;
  font-size: 14px;
  line-height: 26px;
  background-color: #fff;
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-weight: 300;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-text:hover {
  background-color: rgb(250, 250, 250);
  transition: 0.2s;
  outline: none;
}

.input-text:focus {
  border: 1px solid rgb(10, 118, 216);
  transition: 0.2s;
}

.input-text::placeholder {
  font-family: 'Inter', sans-serif;
}

/* -----------Buttons---------------*/
.btn {
  cursor: pointer;
  padding: 8px 20px;
  outline: none;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
}

.btn:hover {
  background-color: var(--primarycolorhover);
  box-shadow: none;
  transition: all 0.5s;
  font-family: 'Inter', sans-serif;
}

.btn-primary {
  background-color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(57, 108, 240, 0.3);
}

.btn-primary-soft {
  background-color: #d8ebfa;
  /*border: 1px solid rgba(57,108,240,0.1) ;*/
  color: #1969aa;
  font-weight: 500;
  font-size: 16px;
  border: none;
  /*box-shadow: 0 3px 5px 0 rgba(57,108,240,0.3)*/
}

.btn-primary-soft:hover {
  background-color: var(--primarycolor);
  /*border: 1px solid rgba(57,108,240,0.1) ;*/
  color: #fff;
  box-shadow: 0 3px 5px 0 rgba(57, 108, 240, 0.3);
}

.btn-in-text {
  font-size: 15px;
  letter-spacing: 0.5px;
}

.non-style-link:link,
.non-style-link:visited,
.non-style-link:hover,
.non-style-link:active {
  text-decoration: none;
  color: rgb(43, 43, 43);
}
