.box{
    width: 2rem;
    height: 50%;
    margin-left:.3rem;
    background-color: black;
}
.table-container{
    width: 105rem;
    margin-left: 20%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }
  th{
      background-color: #35374B;
      color: #ffffff;
      text-align: center;
    }
   td {
      text-align: left;
      padding-left: 10px;
    }
  .display{
      border-collapse: collapse;
      width: 100%;
      z-index: 1;
      font-size: 12px;
    }
  .display th{
      padding:15px;
  
    }
  .display tr:nth-child(even) td {
      background-color: #b1b3c9; 
    }
    
  .dispaly tr:nth-child(odd) td {
      background-color: #ffffff;
    }
  .add{
    overflow: auto;
  }
  .dropdown{
    display: none;
    background-color: black;
  }
